<app-breadcrumbs
  nodeParent="Accueil"
  nodeParentUrl="home"
  nodeChild="Types de Perle"
  nodeChildUrl="perler-types"
  [nodeChildChild]="isAddMode ? 'Créer' : 'Modifier'"
></app-breadcrumbs>

<section class="md:py-14 py-6 flex w-10/12 mx-auto justify-center">
  <div class="formStyle w-full space-y-8">
    <div class="flex justify-center">
      <h2 *ngIf="isAddMode" class="styleTitle">Enregistrer un nouveau type de perle</h2>
      <h2 *ngIf="!isAddMode" class="styleTitle">Modifier un type de perle</h2>
    </div>
    <form [formGroup]="perlerTypeForm" (ngSubmit)="onSubmitForm()" class="space-y-8 flex flex-col">
      <div class="flex md:grid md:grid-cols-3 md:gap-4 md:space-y-0 flex-col space-y-7">
        <div class="form-group">
          <p-floatlabel variant="on">
            <label for="reference">Reference</label>
            <input
              type="text"
              id="reference"
              class="form-control w-full"
              pInputText
              formControlName="reference"
              [ngClass]="{ 'is-invalid': shouldShowReferenceError() }"
            />
          </p-floatlabel>
          <div
            *ngIf="f.reference.errors && (f.reference.touched || f.reference.dirty)"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f.reference.errors.required">La référence est obligatoire</div>
            <div *ngIf="f.reference.errors.perlerTypeRefExists">La référence doit être unique</div>
          </div>
        </div>
        <div class="form-group">
          <p-floatlabel variant="on">
            <label for="libelle">Libelle</label>
            <input
              type="text"
              id="libelle"
              class="form-control w-full"
              pInputText
              formControlName="libelle"
              [ngClass]="{ 'is-invalid': shouldShowLibelleError() }"
            />
          </p-floatlabel>
          <div
            *ngIf="f.libelle.errors && (f.libelle.touched || f.libelle.dirty)"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f.libelle.errors.required">Le libelle est obligatoire</div>
          </div>
        </div>

        <div class="form-group md:flex md:w-full md:justify-center md:items-center space-x-4">
          <label class="dark:text-white" for="color">Couleur</label>
          <p-color-picker formControlName="color"></p-color-picker>
          <div
            *ngIf="f.color.errors && (f.color.touched || f.color.dirty)"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f.color.errors.required">La couleur est obligatoire</div>
          </div>
        </div>
      </div>

      <div class="flex w-full justify-center">
        <p-button type="submit" [disabled]="perlerTypeForm.invalid"> Enregistrer </p-button>
      </div>
    </form>
  </div>
</section>
