<app-breadcrumbs nodeParent="Accueil" nodeParentUrl="home" nodeChild="Produits"></app-breadcrumbs>

<section class="inner-page">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <button class="btn btn-primary btn-sm" (click)="onNewProduct()">Nouveau Produit</button>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" style="margin-top: 20px;">
      <div class="col" *ngFor="let product of products; let i = index">
        <div class="card shadow-sm">
          <div class="card-head">
            <img style="max-height: 50%;" class="bd-placeholder-img card-img-top" src="{{ product.pictureUrl }}"
              role="img" aria-label="Placeholder: Test" preserveAspectRatio="xMidYMid slice" focusable="false" />
          </div>
          <div class="card-body">
            <p class="card-text">{{ product.title }}</p>
            <p class="card-text">{{ product.content }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-light link-info" (click)="onViewProduct(product.key)">
                  <i class="fas fa-search"></i>
                </a>
                <a class="btn btn-sm btn-outline-light link-warning" (click)="onEditProduct(product.key)">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-outline-light link-danger" (click)="onDeleteProduct(product)">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
              <small class="text-muted">{{ product.author }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>