<div class="flex flex-col space-y-7 justify-center formStyle">
  <h2 class="styleTitle">Changement de mot de passe</h2>
  <form
    class="flex flex-col space-y-7 w-11/12 md:w-8/12 justify-center mx-auto"
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmitForm()"
  >
    <div class="form-group">
      <p-floatlabel variant="on">
        <p-password
          formControlName="password"
          styleClass="w-full"
          [inputStyleClass]="'w-full'"
          [feedback]="false"
          [toggleMask]="true"
          [ngClass]="{ 'ng-invalid ng-dirty': shouldShowPasswordError() }"
        />
        <label for="password">Nouveau Mot de passe</label>
      </p-floatlabel>
      <div
        *ngIf="f.password.errors && (f.password.touched || f.password.dirty)"
        class="text-red-600 text-sm mt-1"
      >
        <div *ngIf="f.password.errors.required">Le nouveau mot de passe est requis</div>
        <div *ngIf="f.password.errors.minlength">
          Le mot de passe doit avoir au moins 6 caractères
        </div>
      </div>
    </div>
    <div class="form-group">
      <p-floatlabel variant="on">
        <p-password
          formControlName="confirmPassword"
          styleClass="w-full"
          [inputStyleClass]="'w-full'"
          [feedback]="false"
          [toggleMask]="true"
          [ngClass]="{ 'ng-invalid ng-dirty': shouldShowConfirmPasswordError() }"
        />
        <label for="confirmPassword">Confirmer Mot de passe</label>
      </p-floatlabel>
      <div
        *ngIf="f.confirmPassword.errors && (f.confirmPassword.touched || f.confirmPassword.dirty)"
        class="text-red-600 text-sm mt-1"
      >
        <div *ngIf="f.confirmPassword.errors.required">
          La confirmation du nouveau mot de passe est requis
        </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
          Les mots de passe doivent être identique
        </div>
      </div>
    </div>
    <p-button class="flex w-full justify-center" type="submit" [disabled]="passwordForm.invalid">
      Mettre à jour
    </p-button>
  </form>
</div>
