<!-- ======= Hero Section ======= -->
<!--<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/Perles.png" class="img-fluid" alt="">--><!--assets/img/hero-img.png-->
      <!--</div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Wyveth Pixel Art</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Et si les perles à chauffer n'était pas que pour les enfants?</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#portfolio" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Découvrir</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>--><!-- End Hero -->

<section id="hero">
<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

  <div class="carousel-inner" role="listbox">

    <!-- Slide 1 -->
    <div class="carousel-item active" style="background-image: url(assets/img/Perles-Atelier.jpg)">
      <div class="container">
        <h2>Wyveth <span>Pixel Art</span></h2>
        <p>Et si les perles à chauffer n'était pas que pour les enfants?</p>
        <a href="#portfolio" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
          <span>Découvrir</span>
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item" style="background-image: url(assets/img/PokemonGen1.jpg)">
      <div class="container">
        <h2>Wyveth <span>Pixel Art</span></h2>
        <p>Et si les perles à chauffer n'était pas que pour les enfants?</p>
        <a href="#portfolio" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
          <span>Découvrir</span>
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item" style="background-image: url(assets/img/Justice_League.jpg)">
      <div class="container">
        <h2>Wyveth <span>Pixel Art</span></h2>
        <p>Et si les perles à chauffer n'était pas que pour les enfants?</p>
        <a href="#portfolio" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
          <span>Découvrir</span>
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="carousel-item" style="background-image: url(assets/img/Pokemon_Starter.jpg)">
      <div class="container">
        <h2>Wyveth <span>Pixel Art</span></h2>
        <p>Et si les perles à chauffer n'était pas que pour les enfants?</p>
        <a href="#portfolio" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
          <span>Découvrir</span>
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#heroCarousel" style="text-decoration: auto;" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
  </a>

  <a class="carousel-control-next" href="#heroCarousel" style="text-decoration: auto;" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
  </a>

</div>
</section><!-- End Hero -->

