<button
  (click)="nextTheme()"
  class="flex items-center justify-center w-12 h-12 rounded-full transition-all duration-300 bg-gray-200 dark:bg-zinc-700 text-black dark:text-white text-xl"
>
  <span
    *ngFor="let opt of options"
    class="absolute transition-all duration-300 ease-in-out"
    [class.opacity-0]="current !== opt"
    [class.translate-x-3]="current !== opt"
    [class.opacity-100]="current === opt"
    [class.translate-x-0]="current === opt"
  >
    {{ icons[opt] }}
  </span>
</button>
