<app-breadcrumbs nodeParent="Accueil" nodeParentUrl="home" nodeChild="Utilisateurs"></app-breadcrumbs>

<section class="inner-page">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-1">Action</th>
          <th class="col-3">Email</th>
          <th class="col-2">Pseudo</th>
          <th class="col-2">Nom</th>
          <th class="col-2">Prenom</th>
          <th class="col-1">Admin</th>
          <th class="col-1">Compte</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>
            <!--(click)="onViewUser(user.key)"-->
            <a class="btn btn-sm btn-outline-light link-info" (click)="open(content, user)">
              <i class="fas fa-search"></i>
            </a>
            <a class="btn btn-sm btn-outline-light link-danger" [swal]="{ title: 'Attention!', text:'Voulez vous vraiment supprimer l\'utilisateur: ' + user.email, icon:'warning', cancelButtonText: 'Pas encore', showCancelButton: true }" (confirm)="onDeleteUser(user)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.displayName }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.name }}</td>
          <td style="text-align:center;">
            <a *ngIf="user.admin === true" class="text-success" (click)="onUpdateAdmin(user.key)">
              <i class="fas fa-toggle-on"></i>
            </a>
            <a *ngIf="user.admin === false" class="text-danger" (click)="onUpdateAdmin(user.key)">
              <i class="fas fa-toggle-off"></i>
            </a>
          </td>
          <td style="text-align:center;">
            <a *ngIf="user.disabled === true" class="text-success" (click)="onUpdateDisabled(user.key)">
              <i class="fas fa-toggle-on"></i>
            </a>
            <a *ngIf="user.disabled === false && user.admin !== true" class="text-danger" (click)="onUpdateDisabled(user.key)">
              <i class="fas fa-toggle-off"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Email:
      </div>
      <div class="col-9">
        {{ user.email }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Pseudo:
      </div>
      <div class="col-9">
        {{ user.displayName }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Nom:
      </div>
      <div class="col-9">
        {{ user.surname }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Prénom:
      </div>
      <div class="col-9">
        {{ user.name }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Adresse:
      </div>
      <div class="col-9">
        {{ user.adress }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Code Postal:
      </div>
      <div class="col-9">
        {{ user.zipcode }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Ville:
      </div>
      <div class="col-9">
        {{ user.city }}
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Admin:
      </div>
      <div class="col-9">
        <p *ngIf="user.admin"><i class="fas fa-check-square text-success"></i></p>
        <p *ngIf="!user.admin"><i class="far fa-square text-danger"></i></p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3">
        Actif:
      </div>
      <div class="col-9">
        <p *ngIf="!user.disabled"><i class="fas fa-check-square text-success"></i></p>
        <p *ngIf="user.disabled"><i class="far fa-square text-danger"></i></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Fermer</button>
  </div>
</ng-template>