<app-breadcrumbs nodeParent="Accueil" nodeParentUrl="home" nodeChild="Contacts"></app-breadcrumbs>

<section class="inner-page">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-1">Action</th>
          <th class="col-2">Identité</th>
          <th class="col-2">Email</th>
          <th class="col-1">Sujet</th>
          <th class="col-6">Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
          <td>
            <!--<a class="btn btn-sm btn-outline-light link-warning" (click)="onEditContact(contact.key)">
              <i class="fas fa-edit"></i>
            </a>-->
            <a class="btn btn-sm btn-outline-light link-danger" (click)="onDeleteContact(contact)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.subject }}</td>
          <td>{{ contact.message }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
