<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade">  
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <p-galleria class="welcome" [value]="images" [numVisible]="5" [circular]="true" [autoPlay]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ width: '100%', height: '100vh' }">
          <ng-template #item let-item>
              <img [src]="item" class="w-screen h-screen object-cover block" />
          </ng-template>
          <ng-template #caption let-item>
            <div class="bg-white border-t-4 border-[#012970] w-3/4 opacity-90 flex justify-center mx-auto">
              <div class="flex-col space-x-4 my-4 text-center">
                <h2>Wyveth <span>Pixel Art</span></h2>
                <p>Et si les perles à chauffer n'était pas que pour les enfants?</p>
                <a href="#portfolio" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Découvrir</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
            </ng-template>
        </p-galleria>
      </div>
    </div>
  </div>
</section>