<app-breadcrumbs
  [nodeParent]="resource.layout.header.menu.home"
  [nodeParentUrl]="resource.router.routes.home"
  [nodeChild]="resource.layout.header.menu.users"
></app-breadcrumbs>

<section class="py-6 space-y-6">
  <div class="flex flex-col w-10/12 mx-auto justify-center">
    <p-table [value]="(usersWithButtons$ | async) ?? []" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th class="w-1/6">Action</th>
          <th class="w-2/6">Email</th>
          <th class="w-1/6">Pseudo</th>
          <th class="w-1/6">Nom</th>
          <th class="w-1/6">Prénom</th>
          <th class="w-1/12">Admin</th>
          <th class="w-1/12">Compte</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td class="border border-gray-300 !text-center md:space-x-6 space-x-1.5 md:p-2 p-0">
            <a (click)="onView($event, item.user)">
              <i class="fas fa-search"></i>
            </a>
            <a (click)="onEdit(item.user.key)">
              <i class="fas fa-edit"></i>
            </a>
            <a (click)="onDelete($event, item.user)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
          <td>{{ item.user.email }}</td>
          <td>{{ item.user.displayName }}</td>
          <td>{{ item.user.surname }}</td>
          <td>{{ item.user.name }}</td>
          <td class="!text-center">
            <a (click)="setAdmin(item.user)">
              <i class="fas" [ngClass]="item.user.admin ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
            </a>
          </td>
          <td class="!text-center">
            <a *ngIf="!item.user.admin" (click)="setDisabled(item.user)">
              <i class="fas" [ngClass]="item.user.disabled ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Email:</div>
      <div class="col-9">
        {{ user.email }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Pseudo:</div>
      <div class="col-9">
        {{ user.displayName }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Nom:</div>
      <div class="col-9">
        {{ user.surname }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Prénom:</div>
      <div class="col-9">
        {{ user.name }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Adresse:</div>
      <div class="col-9">
        {{ user.adress }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Code Postal:</div>
      <div class="col-9">
        {{ user.zipcode }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Ville:</div>
      <div class="col-9">
        {{ user.city }}
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Admin:</div>
      <div class="col-9">
        <p *ngIf="user.admin"><i class="fas fa-check-square text-success"></i></p>
        <p *ngIf="!user.admin"><i class="far fa-square text-danger"></i></p>
      </div>
    </div>
    <div class="flex" style="margin-bottom: 10px">
      <div class="col-3">Actif:</div>
      <div class="col-9">
        <p *ngIf="!user.disabled"><i class="fas fa-check-square text-success"></i></p>
        <p *ngIf="user.disabled"><i class="far fa-square text-danger"></i></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">Fermer</button>
  </div>
</ng-template> -->
