<app-breadcrumbs nodeParent="Accueil" nodeParentUrl="home" nodeChild="Profil"></app-breadcrumbs>

<section class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row" style="margin-bottom: 2rem;">
          <div class="col">
            <app-user-form></app-user-form>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-change-password></app-change-password>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <app-orderer-list></app-orderer-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>