<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Portfolio</h2>
      <p>Mes dernières pièces</p>
    </header>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-filters">
          <li data-filter="*" class="filter-active">Toutes</li>
          <li 
            *ngFor="let tag of tags"
            [attr.data-filter]="'.filter-' + tag.code"
          >
            {{ tag.libelle }}
          </li>
        </ul>
      </div>
    </div>

    <div id="portfolio-container" class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
    </div>

  </div>

</section><!-- End Portfolio Section -->

