/* You can add global styles to this file, and also import other style files */
.is-invalid{
    border: 1px solid #dc3545;
    border-radius: 4px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(60, 60, 60, 0.8);
    overflow: hidden;
    position: relative;
  }
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #hero .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-top: 4px solid #012970;
  }
  @media (max-width: 1200px) {
    #hero .container {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  #hero h2 {
    color: #2f2f2f;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
  }
  #hero p {
    margin: 0 auto 30px auto;
    color: #555555;
  }
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: #012970;
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: #012970;
    color: rgba(255, 255, 255, 0.8);
  }
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
  }
  #hero .carousel-indicators li.active {
    opacity: 1;
    background: #012970;
  }
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #012970;
  }
  #hero .btn-get-started:hover {
    background: #012970;
  }
  @media (max-width: 992px) {
    #hero {
      height: 100vh;
    }
    #hero .container {
      margin-top: 100px;
    }
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  @media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  @media (max-height: 500px) {
    #hero {
      height: 160vh;
    }
  }