<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="{{ nodeParentUrl }}">{{ nodeParent }}</a></li>
      <li *ngIf="!nodeChildUrl" class="active">{{ nodeChild }}</li>
      <li *ngIf="nodeChildUrl"><a href="{{ nodeChildUrl }}">{{ nodeChild }}</a></li>
      <li *ngIf="!nodeChildChildUrl" class="active">{{ nodeChildChild }}</li>
      <li *ngIf="nodeChildChildUrl"  class="active"><a href="{{ nodeChildChildUrl }}">{{ nodeChildChild }}</a></li>
    </ol>
  </div>
</section>
<!-- End Breadcrumbs -->
