<app-breadcrumbs *ngIf="isAddMode" nodeParent="Accueil" nodeParentUrl="home" nodeChild="Types Perle" nodeChildUrl="perlerTypes"
  nodeChildChild="Créer"></app-breadcrumbs>
<app-breadcrumbs *ngIf="!isAddMode" nodeParent="Accueil" nodeParentUrl="home" nodeChild="Types Perle" nodeChildUrl="perlerTypes"
  nodeChildChild="Modifier"></app-breadcrumbs>

<section class="inner-page" style="min-height: 32rem;">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-6 formStyle">
        <div class="row justify-content-md-center">
          <h2 *ngIf="isAddMode" class="styleTitle">Enregistrer un nouveau type de perle</h2>
          <h2 *ngIf="!isAddMode" class="styleTitle">Modifier un type de perle</h2>
        </div>
        <form [formGroup]="perlerTypeForm" (ngSubmit)="onSubmitForm()">
          <div class="row">
            <div class="col">
              <div class="form-group form-control-sm">
                <label for="reference">Reference</label>
                <input type="text" id="reference" class="form-control" formControlName="reference"
                  [ngClass]="{'is-invalid': shouldShowReferenceError()}">
                <div *ngIf="f.reference.errors" class="invalid-feedback">
                  <div *ngIf="f.reference.errors.required">La référence est obligatoire</div>
                  <div *ngIf="f.reference.errors.perlerTypeRefExists">La référence doit être unique</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-control-sm">
                <label for="libelle">Libelle</label>
                <input type="text" id="libelle" class="form-control" formControlName="libelle"
                  [ngClass]="{ 'is-invalid': shouldShowLibelleError() }">
                <div *ngIf="f.libelle.errors" class="invalid-feedback">
                  <div *ngIf="f.libelle.errors.required">Le libelle est obligatoire</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-control-sm">
                <label for="color">Couleur</label>
                <!-- <input type="text" id="color" class="form-control" [value]="color"
                [style.background]="color"
                [(colorPicker)]="color"
                (colorPickerChange)="onChangeColor($event)"
                formControlName="color"
                [ngClass]="{ 'is-invalid': shouldShowColorError() }"/> -->
                <div *ngIf="f.color.errors" class="invalid-feedback">
                  <div *ngIf="f.color.errors.required">La couleur est obligatoire</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 2rem;">
            <div class="col">
              <button class="btn btn-success" type="submit" [disabled]="perlerTypeForm.invalid">Enregistrer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
