<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center nav-link">
      <img src="assets/img/LogoHome.png" alt="" style="margin-right: 0px; max-height: 42px;">
      <span>yveth Perler</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero"><i class="ri-home-4-line"></i>Accueil</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Mes réalisations</a></li>
        <li><a class="nav-link scrollto" href="#faq">F.A.Q</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li class="dropdown"><a href="#" class="nav-link"><span><i class="ri-account-circle-line"></i></span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <!--<li routerLinkActive="active" *ngIf="!isAuth">
              <a routerLink="auth/signup" class="nav-link">Créer un compte</a>
            </li>-->
            <li routerLinkActive="active" *ngIf="!isAuth">
              <a routerLink="auth/signin" class="nav-link">Connexion</a>
            </li>
            <li *ngIf="isAuth"><a routerLink="profil" class="nav-link" (click)="onProfil(user.key)">Profil</a></li>
            <li class="dropdown"><a href="#" class="nav-link"><span>Administration</span><i class="bi bi-chevron-right"></i></a>
              <ul>
                <li *ngIf="isAuthA"><a routerLink="products" class="nav-link">Produits</a></li>
                <li *ngIf="isAuthA"><a routerLink="tags" class="nav-link">Tags</a></li>
                <li *ngIf="isAuthA"><a routerLink="contacts" class="nav-link">Contacts</a></li>
                <li *ngIf="isAuthA"><a routerLink="users" class="nav-link">Utilisateurs</a></li>
              </ul>
            </li>
            <li>
              <a (click)="onSignOut()" style="cursor:pointer" class="nav-link" *ngIf="isAuth">Déconnexion</a>
            </li>
          </ul>
        </li>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->