<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li routerLinkActive="active">
            <a routerLink="home" class="nav-link text-secondary" data-aos="fade-up" data-aos-duration="3000">
              <i class="fas fa-home" style="font-size: 24px;"></i>
              Accueil
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="products" class="nav-link text-secondary">
              <i class="fas fa-th-list" style="font-size: 24px;"></i>
              Produits
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="tags" class="nav-link text-secondary">
              <i class="fas fa-th-list" style="font-size: 24px;"></i>
              Tags
            </a>
          </li>
          <li routerLinkActive="active" *ngIf="!isAuth">
            <a routerLink="auth/signup">Créer un compte</a>
          </li>
          <li routerLinkActive="active" *ngIf="!isAuth">
            <a routerLink="auth/signin">Connexion</a>
          </li>
          <li>
            <a (click)="onSignOut()" style="cursor:pointer" *ngIf="isAuth">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>